@media screen and (min-width: 2600px) {
    .rc-header {
        width: 2650px;
    }

    .rc-day {
        width: 11%;
    }

    .rc-content {
        width: calc(11% + 6.5px);
    }

    .rc-technic {
        width: 2650px;
    }

    .rc-month-day {
        width: 23px;
    }

    .rc-content.rc-content-quarter {
        width: 0.719%;
    }
}

@media screen and (min-width: 2200px) and (max-width: 2600px) {
    .rc-header {
        width: 2165px;
    }

    .rc-day {
        width: 10.8%;
    }

    .rc-technic {
        width: 2186px;
    }

    .rc-content {
        width: calc(10.8% + 6.5px);
    }

    .rc-month-day {
        width: 20.5px;
    }

    .rc-technic.rc-technic-quarter {
        width: 2225px;
    }

    .rc-content.rc-content-quarter {
        width: 0.772%;
    }
}

@media screen and (min-width: 1880px) and (max-width: 2200px) {
    .rc-header {
        width: 2000px;
    }

    .rc-day {
        width: 10%;
    }

    .rc-technic {
        width: 2000px;
    }

    .rc-content {
        width: calc(10.09% + 7px);
    }

    .rc-month-day {
        width: 17px;
    }

    .rc-technic.rc-technic-quarter {
        width: 1950px;
    }

    .rc-content.rc-content-quarter {
        width: 0.82%;
    }
}

@media screen and (max-width: 1880px) {
    .rc-header {
        width: 1720px;
    }

    .rc-day {
        width: 10.3%;
    }

    .rc-technic {
        width: 1720px;
    }

    .rc-content {
        width: calc(10.4% + 7px);
    }

    .rc-hint-comments {
        font-size: 12px;
    }

    .rc-month-day {
        width: 15.3px;
    }

    .rc-technic.rc-technic-quarter {
        width: 1700px;
    }

    .rc-content.rc-content-quarter {
        width: 0.841%;
    }
}

@media screen and (max-width: 1650px) {
    .rc-header {
        width: 1560px;
    }

    .rc-day {
        width: 10%;
    }

    .rc-technic {
        width: 1560px;
    }

    .rc-content {
        width: calc(10.12% + 7px);
    }

    .rc-hint-comments {
        font-size: 11px;
    }

    .rc-month-day {
        width: 13.3px;
    }

    .rc-technic.rc-technic-quarter {
        width: 1560px;
    }

    .rc-content.rc-content-quarter {
        width: 0.788%;
    }
}

@media screen and (max-width: 1450px) {

    .rc-day {
        width: 9.5%;
    }

    .rc-content {
        width: calc(9.5% + 7px);
    }
    
    .rc-content:not(.rc-content-quarter) + .rc-content {
        margin-left: 4px;
    }

    .rc-hint-comments {
        font-size: 10px;
    }

    .rc-month-day {
        width: 11.5px;
        font-size: 9px;
    }

    .rc-content.rc-content-quarter {
        width: 10.5px;
    }
}

@media screen and (max-width: 1366px) {
    .rc-header {
        width: calc(100% - 10px);
        min-width: 1090px;
    }

    .rc-header.rc-header-quarter {
        min-width: 1200px;
    }

    .rc-day {
        width: 9.2%;
    }

    .rc-technic {
        width: calc(100%  + 4px);
        min-width: 1090px;
    }

    .rc-content {
        width: calc(9.38% + 7px);
    }

    .rc-content:not(.rc-content-quarter) + .rc-content {
        margin-left: 2px;
    }

    .rc-month-day {
        width: 9.5px;
        font-size: 8px;
    }

    .rc-content.rc-content-quarter {
        width: 8.5px;
    }
}