/*
!*.php
!*.json
!*.lock
!/configs/*php
!/css
!/js
!/lang
!/models
!/viewers
!/lib
!/.php-database-migration/environments
!/.php-database-migration/migrations
!.gitignore
!README.md
*.txt
console*.php